html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    padding: 0;
}

.bg-light {
    background-color: #5d7d8b !important;
}


nav div ul li:first-child {
    margin-left: 300px;

}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Helvetica Neue, serif;
}

#language {
    margin-top: 3px;
    margin-left: 150px;
    background-color: #5d7d8b;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: Helvetica Neue, serif;
}

option:hover{
    background-color: linen;
}

header {
    background-image: url(img/ellen.png), url(img/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 850px -260px, top left;
    background-size: 1200px 1500px, 100% 100%;
    border: solid 1px;
    font-family: Helvetica Neue, serif;
    height: 614px;
    font-size: 30px
}

header ul {
    word-spacing: 12em;
    width: 50em;
}


header h1, header div {
    color: white;
}

header span {
    color: white;
}

header h1 {
    text-align: left;
    margin-left: 150px;
    margin-top: 150px;
    font-size: 70px;
}

header span {
    margin-top: 100px;
    font-size: 35px
}

.selector-for-some-widget {
    box-sizing: content-box;
}

footer {
    padding: 10px;
    font-family: Consolas, serif;
    font-size: 20px;
}

body {
    font-family: Consolas, serif;
    font-size: 30px;
    background-color: white;
}

body div {
    font-size: 25px;
    color: #3a5c8b
}

body p {
    font-family: Helvetica Neue, serif;
    font-size:  50px;
    text-align: center;
    color: #13628b;
}

body form {
    font-family: Helvetica Neue, serif;
    padding: 5cm;
}

html, body {
    padding: 0;
    margin: 0;
}

#wp {
    width: 500px;
    height: 450px;
    margin-left: 660px;
}


#donate {
    margin-bottom: 150px;
    margin-top: 100px;
    margin-left: 800px;
    background-color: #3a5c8b;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

body input {
    width: 110px;
    font-size: 30px;
    font-family: Helvetica Neue, serif;
}

#donateBtn {
    background-color: #3a5c8b;
    height: 67px;
}

footer {
    background-color: #3a5c8b;
    border: solid 1px gray;
    right: 10px;
    left: 10px;
    position: center;
    bottom: 5px;
    font-family: Verdana serif;
    margin-top: 50px;
    text-align: center;
}

.bordered-image {
    border: solid 2px lightgray;
    border-radius: 2px;
}

#main {
    border: solid 4px lightgray;
    border-radius: 5px;
    color: #202020;
    margin: 20px 0;
    padding: 5px;
}

.container {
    width: 989px;
    margin: 0 auto;
    background-color: linen;
    padding: 5px;
}

.content {
    width: 95%;
    padding: 20px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
    width: 800px;
    height: 450px;
}

.content p{
    display: block;
    margin: 2px 0 0;
    text-align: left;
    font-size: 35px;
    margin-right: 20px;
}


#something {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    margin-top: 300px;
    background-color: #eaeae0;
}

#vision {
    margin-right: 15px;
    float: left;
    width: 800px;
    height: 450px;
    font-family: Helvetica Neue, serif;
    font-size: 80px;
}

#appeal {
    display: block;
    margin: 200px 0 0;
    text-align: left;
    font-size: 35px;
    font-family: Helvetica Neue, serif;
    margin-right: 100px;
}

#teenagerpresident {
    display: block;
    margin: 150px 0 0;
    text-align:left;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 35px;
    font-family: Helvetica Neue, serif;
}

header nav {
    float: right;
    margin-right: 50px;
}

header nav li {
    display: inline;
    font-size: 20px;
}

.result {
    margin: 5px;
    border: 2px solid lightgray;
}

.result .title {
    font-weight: bold;
}

#news {
    margin-top: 70px;
    margin-bottom: 50px;
}